body {
  
   width: 100%;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(33, 14, 14, 0.8)) ,url(../img/bg6.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
  }

  
  h2{
    border-radius: 80px;
    width: 100%;
    height: 8vh;
    padding-top: 70px;
    /* background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1); */
    color:yellowgreen;
    font-family: "Playfair Display", serif;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 700;
    font-size: x-large;
  }


 


  .section-title  p {
    width: 100%;
    border-radius: 0px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color:white;
    font-family: "Imbue", serif;
    font-optical-sizing:auto;
    font-style: normal;
  
  }

.header{
  justify-content: center;
  padding-bottom: 250px;
  width: 100%;
  height: 100vh;
}

.containere{
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 79px;
}
.containere .btn {
  position: relative;
  width: 60%;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containere .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid rgba(255, 255, 255, 0.1);
  border-top: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  font-weight: 900px !important;
  font-size:x-large;
  color: yellowgreen;
  z-index: 1;
  transition: 0.5s;
  /* backdrop-filter: blur(15px); */
}

.containere .btn:hover a {
  letter-spacing: 3px;
}

.containere .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: skewx(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}

.containere .btn:hover a::before {
  transform: skewx(45deg) translate(200px);
}

.container .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: rgb(197, 186, 186);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.containere .btn:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.containere .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 80px;
  background:linear-gradient(rgba(0,0,0,0.8),rgba(33, 14, 14, 0.3)) ,url(../img/bg4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10px;
  
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.containere .btn:hover::after /*lightup button*/ {
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}



.icons-container{
  margin-top: 220px;
  height: auto;
  justify-content: space-around;
  display: flex;
  color:yellowgreen;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;

 }

 .icons {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: center;
}

.fa-solid,
.fa-regular,
.fa-brands {
  font-size: 30px; 
  margin: 30px;
}

/* dil seçimi css */


.menu{
  padding-top: 20px;
  
}
#select{
  color: rgb(255, 255, 25) !important;
  background-color: #222 !important;
}  

.worldpng{
  width: 20px;
  height: auto;
}
